<div>
  {{#each posts as |post|}}
  {{!-- {{#if post.user_id = user.id}} --}}
  <div>
    <a href="dashboard/edit/{{post.id}}">{{post.title}}</a>
    <p>{{format_date post.date}}</p>
  </div>
  {{!-- {{/if}} --}}
  {{/each}}
</div>

<footer>
  <a href="/dashboard/new">➕ New Post</a>
</footer>