<div>

  <form>
    <h2>Edit Post</h2>
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title">
    </div>
    <label for="post-content">Title</label>
    <input type="text" id="post-content">
    <div>
      <button type="submit">Update</button>
      <button type="delete">Delete</button>
    </div>

  </form>

</div>

<script src="./js/post.js"></script>